<div>
  <div class="block">
    <h1>Context Object</h1>
    <textarea ng-model="contextJSON">
    </textarea>
  </div>
  <div class="block">
    <h1>Policy JSON</h1>
    <textarea ng-model="policyJSON">

    </textarea>
  </div>
  <div class="block">
    <h1>Result</h1>
    <textarea ng-model="results">

    </textarea>
  </div>
  <div style="clear: left;">
    <button ng-click="run()">Run</button>
  </div>
  <style>
    .block {float: left; width: 420px;}
    textarea {height: 400px; width: 400px; font-size: 18px;}
  </style>
</div>
